@use "../variables/colors" as *;
@use "../variables//function" as func;

.add-notes-main {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px 0;
  .add-notes-container {
    .add-notes-heading {
      padding: 12px 0;
      border-bottom: 1px solid #c9c3a4;
    }
    .add-notes-form {
      margin: 40px auto 0;
      display: flex;
      flex-direction: column;
      gap: 30px;
      .add-title,
      .add-content {
        display: flex;
        flex-direction: column;
        label {
          font-size: func.rem(14);
          font-weight: 700;
          margin-bottom: 10px;
        }
        input[type="text"] {
          background-color: var(--white);
          outline: none;
          border: none;
          border-radius: 7px;
          padding: 10px 12px;
        }
      }
      .btn-container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 10px;
        a {
          border-radius: 7px;
          padding: 8px 24px;
          background-color: var(--red);
          color: var(--white);
          cursor: pointer;
          text-decoration: none;
        }
      }
    }
  }
}
