@use "../variables/colors" as *;
@use "../variables/function" as func;

.home-header {
  .home-nav {
    padding: 17px 0;
    background-color: var(--light-yellow);
    border-bottom: 1px solid var(--dark);
    .home-nav-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      h3 {
        font-size: func.rem(30);
      }
      .left-menu {
        display: flex;
        align-items: center;
        gap: 20px;
        .home-write-notes {
          padding: 9px 13px;
          border-radius: 7px;
          background-color: var(--dark);
          color: var(--white);
          display: flex;
          align-items: center;
          gap: 8px;
          text-decoration: none;
        }
        .logout-btn {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}
.notes-list-section {
  padding-bottom: 20px;
  .notes-list {
    .heading {
      padding: 12px 0px;
      border-bottom: 1px solid var(--border-color);
      margin-bottom: 62px;
      h2 {
        font-size: func.rem(25);
        font-weight: 500;
      }
    }
    .notes {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      row-gap: 30px;
      column-gap: 31px;
      @media screen and (min-width: 600px) {
        grid-template-columns: repeat(auto-fit, minmax(357px, 1fr));
      }
      .notes-card {
        background-color: var(--light-yellow);
        border-radius: 8px;
        .notes-nav-card {
          padding: 8px 25px;
          background-color: var(--dark);
          border-top-right-radius: 8px;
          border-top-left-radius: 8px;
          margin-bottom: 25px;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          gap: 10px;
          .edit,
          .delete {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
          }
          .edit {
            background-color: var(--blue);
          }
          .delete {
            background-color: var(--red);
          }
        }
        h2 {
          font-size: func.rem(25);
          font-weight: 500;
          text-align: center;
          margin-bottom: 25px;
        }
        .read-more {
          background-color: var(--yellow);
          border-bottom-right-radius: 8px;
          border-bottom-left-radius: 8px;
          padding: 19px 0px;
          display: flex;
          align-items: center;
          justify-content: center;
          a {
            display: flex;
            align-items: center;
            gap: 5px;
            text-decoration: none;
            font-size: func.rem(14);
            &:hover {
              color: #272623;
            }
          }
        }
      }
      .no-notes-found {
        h3 {
          font-size: func.rem(20);
          font-weight: 400;
        }
      }
    }
  }
}
